* {margin: o; padding: 0; box-sizing: border-box;}
/* color scheme for site*/
:root {
    --purple:#814B95;
    --tan:#D8B9A4;
    --pink:#F397C3;
    --white:#FEFAF1;
    --brown: #523A28;
    --ltpink: #FFD4DB;
}
body {
    background-color: var(--white);
    font-family: Verdana, sans-serif;
}
header{
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--brown);
    overflow: hidden;
}
li a {
    display:block;
    text-align: center;
    text-decoration: none;
    color: var(--ltpink);
    padding: 20px;
    float: left;
    font-weight: strong;
    font-variant: small-caps;
    font: size 2em;
}
section {
    background-color: var(--tan);
}
.logo {
    margin: 0 45%;
    width: 10%;
    height: auto;
    
}
figcaption {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
}