* 
{margin: o; padding: 0; box-sizing: border-box;}
:root {
    --purple:#814B95;
    --tan:#D8B9A4;
    --pink:#F397C3;
    --white:#FEFAF1;
    --brown: #523A28;
    --ltpink: #FFD4DB;
}
body {
    background-color: var(--tan);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-variant: small-caps;
    font-size: 2em;
    width: 100%;
    background-color: #D8B9A4;
}
/* created floating navigation bar*/

.navbar {
    position:fixed;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--brown);
    overflow: hidden; 
    
}
li {
    float: left;
}

li a {
    display:block;
    text-align: center;
    text-decoration: none;
    color: var(--ltpink);
    padding: 20px;
    font-weight: strong;
    font-variant: small-caps;
    font-size: 1.5em;
}
li a:hover {
    background-color: var(--pink);
    color: var(--brown);
    font-size: 1.8em;
}
header {
    background-color: var(--ltpink);
    width: 100%;
}
div .logo1 {
    margin-top: 50px;
    margin-left: 40%;
}
.containerme {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.wrap {
    float: left;
    margin: 5px;
}
.wrapr{
    float: right;
    margin: 0px 5px;
}
.circlepic {
    height: 250px;
    width: auto;
    border-radius: 25%;
}
/* flexbox for images which have links to projects */
.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.circlebutton {
    height: 200px;
    width: auto;
    padding: 5px 0;
    border-radius: 250%;
}

.circlebutton:hover {
    transform: scale(1.2);
}

footer {
    background-color: var(--purple);
    width: 100%;
}
.logo {
    height: 100px;
    margin-left: 45%;
}