* 
{margin: o; padding: 0; box-sizing: border-box;}
:root {
    --dkblue:#2f6d80;
    --grey:#E1E7E0;
    --turquoise:#6aa4b0;
    --white:#FEFAF1;
    --midnight: #2b4560;
    --ltblue:#DBF5F0;
}
/* styles for the entire website */
body {
    background-color: var(--grey);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-variant: small-caps;
    font-size: 2em;
    margin-top: 150px;
    width: 100%;
    background-color: var(--grey);
    color: var(--dkblue)
}
/* styles related to the header and top logo */
header {
    background-color: var(--ltblue);
    width: 100%;
}
img .logo1 {
    margin:auto;
    height: 200px;
}
button {
    background-color: var(--midnight);
    color: var(--white);
    position:relative;
    text-decoration: none;
    padding: 2px;
    border-radius: 10%;
}
/* created fixed navigation bar*/
.navbar {
    position:absolute;
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
    z-index: 1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--midnight);
    overflow: hidden;
    /* display:flex; 
    flex-direction: row; */
    
}
li {
    float: left;
}

li a {
    display:inline-block;
    /* width: 200px; */
    /* margin: auto; */
    text-align: left;
    text-decoration: none;
    color: var(--ltblue);
    padding: 20px;
    font-weight: strong;
    font-variant: small-caps;
    font-size: 1.5em;
}
li a:hover {
    background-color: var(--turquoise);
    color: var(--midnight);
    font-size: 1.8em;
}

/* div .logo1 {
    margin-top: 0px;
    margin-left: 40%;
} */
/* styles related to the the About Me section */
/* .containerme {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
/* .wrap {
    float: left;
    margin: 5px;
} */
.wrapr{
    float: right;
    margin: 0px 5px;
}
p::first-letter {
    color: var(--dkblue);
    font-size: xx-large;
    /* font-variant: small-caps; */
}
p {
    font-size: 1.3em;
}

.circlepic {
    height: 200px;
    width: auto;
    border-radius: 25%;
}
.projects {
    background-color: var(--ltblue);
}
/* styling for Projects section */
/* flexbox for images which have links to projects */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}
/* .project-block {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
} */
.circlebuttonb {
    height: 250px;
    width: auto;
    padding: 5px 0;
    border-radius: 20%;
}
.circlebutton {
    height: 200px;
    width: auto;
    padding: 5px 0;
    border-radius: 20%;
}
.circlebuttonb:hover {
    transform: scale(1.2);
}
.circlebutton:hover {
    transform: scale(1.2);
}
.project-label {
    background-color: var(--grey);
    border: 1px solid var(--dkblue);
    position: relative;
    border-radius: 8px;
    padding: .5rem;
    text-align: center;
    margin-top: -20px;
    color: var(--dkblue);
}
figure {
    margin: 0;
}

/* styling for contact section */
.contact {
    background-color: var(--grey);
}
.contact-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: var(--dkblue);
    margin: 0 0 5px 0;
}
.info {
    background-color: var(--dkblue);
    text-decoration: none;
    color: var(--white);
    font-size: 2em;
    font-variant: small-caps;
}
.info a:link, a:visited, a:active {
    color: var(--white);
    text-decoration: none;
}
button a:link, a:visited, a:active {
    color: var(--white);
    text-decoration: none;
}

/* styling for footer */
footer {
    background-color: var(--midnight);
    width: 100%;
    margin: 0;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.logo {
    margin:auto;
    height: 100px;
}

/* media queries for adjustable sizing */
@media screen and (max-width:900px) {
    .info {
        font-size: 1.5em;
        text-align: center;
    }
    h1 {
        margin-top:75px;
}
}
@media screen and (max-width:600px) {
   
    .contact-container {
        flex-direction: column;
        align-content: left;
    
    }
}
@media screen and (max-width:515px) {
    li a:hover {
        background-color: var(--turquoise);
        color: var(--midnight);
        font-size: 1em;
    }
    li a {
        /* display:inline-block;
        text-align: left;
        text-decoration: none;
        color: var(--ltblue);
        padding: 20px;
        font-weight: strong;
        font-variant: small-caps; */
        font-size: 1em;
    }
    h1 {
        font-size: 1.5em;
    }

    .info {
        font-size: 1em;
    }
}
@media screen and (max-width:390px) {
    li a {
        padding: 10px;
    }
    h1 {
        margin-top: 50px;
        font-size: 1.2em;
    }
   p {
    font-size: 1em;
   }
    .info {
        text-align: center;
    }  
}
@media screen and (max-width:320px) {
    h1 {
        margin-top: 50px;
        font-size: 1em;
    }
header, .projects {
    background-color: var(--grey);
    }
}
