* {margin: o; padding: 0; box-sizing: border-box;}
/* color scheme for site*/
:root {
    --purple:#814B95;
    --tan:#D8B9A4;
    --pink:#F397C3;
    --white:#FEFAF1;
    --brown: #523A28;
    --ltpink: #FFD4DB;
}
body {
    background-color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--brown);
    overflow: hidden;
}
li a {
    display:block;
    text-align: center;
    text-decoration: none;
    color: var(--ltpink);
    padding: 20px;
    float: left;
    font-weight: strong;
    font-variant: small-caps;
    font: size 2em;
}
section.intro {
    background-color: var(--tan);
}
.logo {
    margin: 0 45%;
    /* width: 100%;
    height: auto;  */
}
/*
figcaption  {
    background-color: var(--purple);
    color: var(--white);
    text-align: center;
    padding-bottom:10px;
}*/
h1 {
    font-family: Verdana, sans-serif;
    font-variant: small-caps;
}

article {
    background-color: var(--tan);
    margin: 2px;
}

p::first-letter {
    color: var(--purple);
    font-size: xx-large;
}
button a:link, a:visited {
    padding: 5px;
    border: 2px solid var(--brown);
    background-color: var(--brown);
    text-decoration: none;
    color: var(--white);
    position:sticky;
    top: 0px;
    
}
.namelogo {
    border-radius: 10%;
    margin:0;
    display: inline;
}

.circlepic {
    max-width:50%;
    height: auto;
    border-radius: 250%
}

section.gallery{
    border: 1px solid var(--tan);
    max-width: 150px;
    align-items: center;
}
section.gallery:hover{
    border: 1px solid var(--ltpink);
}
section.gallery img{
    width:100%;
    height: auto;
}
.circlebutton {
    height: auto;
    border-radius: 10%;
}
/*
div.caption {
    padding:15px;
    text-align: center;
}*/
section.flex-container {
    display: flex;
    flex-wrap: wrap;

}
section.flex-container > section {
    padding: 5px 2px;
    border:2px solid var(--brown);
}

.container {
   display:flex;
   flex-direction: column; 
   justify-content: center;
}
article.container {
    display:flex;
    
}